@import './variable.styl'

*,
*::before,
*::after
  margin: 0;
  padding: 0;
  box-sizing: border-box
html
  font-size: $font-size-base;
  color: $font-color;
  font-family: "Open Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
ul
  list-style-type: none;
a
  text-decoration: none;