
$font-color = rgba(0, 0, 0, 0.65 )
$font-size-base = 12px
$font-size-small = 1.2rem
$font-size-middle = 1.4rem
$font-size-middle-b = 1.6rem
$font-size-large = 2rem
$font-size-large-b = 4rem

$space-small = 0.5rem
$space-middle = 1rem
$space-middle-b = 1.5rem
$space-large = 4rem